/* LEFT */
.collections-left {
  width: 230px;
}

.collections-left h2 {
  margin-bottom: 22px;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #333;
}

.collection-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  border-radius: 14px;
  cursor: pointer;
  margin-bottom: 12px;
  background: #fff;
  transition: all 0.25s ease;
}

.collection-item img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
}

.collection-item span {
  font-size: 14px;
  font-weight: 500;
  color: #444;
}

.collection-item:hover {
  transform: translateX(4px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
}

.collection-item.active {
  background: linear-gradient(135deg, #ffb37a, #ff944d);
  color: #fff;
}

.collection-item.active span {
  color: #fff;
}


.collections-right {
  position: relative;
  flex: 1;
  height: 600px;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}


.collections-right img {
  max-width: 90%;
  max-height: 100%;
  object-fit: contain;
  transition: transform 0.4s ease;
}

.collections-right:hover img {
  transform: scale(1.03);
}

/* TEXT OVER IMAGE */
.overlay {
  position: absolute;
  color: #fff;
}

.overlay h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 12px;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
}



.overlay button:hover {
  background: #ff8a3d;
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}


.scroll-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  /* thumbnails ke niche spacing */
}

.scroll-buttons button {
  width: 35px;
  height: 35px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.2s;
}

.scroll-buttons button:hover:not(:disabled) {
  background-color: #555;
}

.scroll-buttons button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}